.friend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.friend .friend__avatar{
    width: 50px;
    border-radius: 38%; 
}

.friend__avatar.g-avatar{
width:70px;
}
.friend__avartar.m-avatar{
    width: 60px;
}

.friend .friend__column{
    display: flex;
    align-items: center;
}

.friend__column .friend__avatar{
    margin-right: 15px;
}
.friend__content .friend__name {
    display: block;
    margin-bottom: 5px;
    font-size:13px;
    font-weight: 600;
}

/* friend 화면에 적용되는 부분 */
.friend__content .friend__status,
.friend__content .friend__bottom-text
.friend__column .chat__timestamp {
    opacity: 0.6;
}

/* chat부분에만 적용되는 부분 */
.friend__content .friend__bottom-text{
    font-size:14px;
    opacity: 0.6;
    width:70%;
    
}
.friend__content .friend__status,
.friend__column .chat__timestamp {
    font-size:12px;
    opacity: 0.6;
}

.friend .friend__now-listening{
    border: 2px solid #52e084;
    padding: 5px 10px;
    border-radius: 15px;
    font-size:14px;
}
.friend__now-listening span{
    opacity:0.7;
}

.friend__add-btn{
    display:flex;
    padding:10px 15px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.chat__right {
    position: relative;
    top:-8px;
}

.chat__right .chat__badge{
    position: absolute;
    top: 18px;
    right: 2px;
    font-size: 13px;
    color: white;
    background-color: #ee4a2d;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box 높이의 반(10px)를 주면 동그라미 모양으로 만들 수 있다. */
    /* or border-radius: 50% 로 두어도 된다. */
    border-radius: 20px;
}