.nav {
    background-color:#fcfcfc;
    position: fixed;
    width:100%;
    padding: 20px 50px;
    left:0px;
    bottom: 0px;
    border-top: 1px solid #f7f7f7;
    
}

.nav .nav__list {
    display: flex;
    justify-content: space-between;
}

.nav i {
 font-size: 20px;
}

.nav .nav__list-link {
    position: relative;
}

.nav .nav__badge{
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 10px;
    color: white;
    background-color: #dc5d46;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box 높이의 반(10px)를 주면 동그라미 모양으로 만들 수 있다. */
    /* or border-radius: 50% 로 두어도 된다. */
    border-radius: 20px;
}

@keyframes showNavBar {
    from{
        transform: translateY(80px);
    }
    to {
        transform: none;
    }
}
.nav {
    transform: translateY(80px);
    animation: showNavBar 0.5s ease-out forwards;
    animation-delay: 0.5s;
}